
*.jpg
sonarr/config/logs/*
*.resume
*.torrent
/transmission/resume/*
/transmission/torrents/*
/transmission/stats.json
/transmission/custom-cont-init.d
/transmission/custom-cont-init.d.wFq0Ls1C
/transmission/custom-services.d
/transmission/custom-services.d.wFq0Ls1C
/sonarr/config/logs/
/sonarr/config/MediaCover/
/sonarr/config/.config/
/sonarr/config/custom-services.d
/sonarr/config/custom-cont-init.d
/sonarr/config/logs.db
/sonarr/config/logs.db-shm
/sonarr/config/logs.db-wal
/radarr/config/logs
/radarr/config/MediaCover
/radarr/config/asp
/radarr/config/custom-cont-init.d
/radarr/config/custom-services.d
/radarr/config/logs.db
/jackett/config/custom-services.d
/jackett/config/custom-cont-init.d
/jackett/config/Jackett/DataProtection
/homebridge/node_modules/
/homebridge/persist/
/homebridge/homebridge/node_modules/
